{
  "plugins": [
    "stylelint-selector-bem-pattern",
    "stylelint-scss"
  ],
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "unit-allowed-list": [
      "px",
      "em",
      "rem",
      "s",
      "ms",
      "%",
      "vw",
      "vh"
    ],
    "selector-class-pattern": ".*",
    "scss/dollar-variable-pattern":".*",
    "scss/at-mixin-pattern": ".*",
    "string-quotes": "double",
    "selector-max-id": 2,
    "max-nesting-depth": 4,
    "selector-max-compound-selectors": 5,
    "selector-no-qualifying-type": null,
    "order/properties-alphabetical-order": null,
    "scss/percent-placeholder-pattern" : null
  }
}
