{
  "plugins": [
    "stylelint-selector-bem-pattern",
    "stylelint-scss"
  ],
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "unit-whitelist": [
      "px",
      "em",
      "rem",
      "s",
      "%"
    ],
    "selector-class-pattern": ".*",
    "scss/dollar-variable-pattern":".*",
    "scss/at-mixin-pattern": ".*",
    "string-quotes": "double",
    "selector-max-id": 2,
    "max-nesting-depth": 4,
    "selector-max-compound-selectors": 5
  }
}
